<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="Stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />
    <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <link rel="stylesheet" href="/css/hcss.css">
    <link rel="stylesheet" href="/../static/css/hcss.css">
    <link rel="stylesheet" href="/../static/css/sercss.css">
    <link rel="stylesheet" href="/css/sercss.css">
    <link rel="stylesheet" href="/static/images/">
    <link rel="stylesheet" href="/templates/images/">


<body>
<div th:fragment="mynav">
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/itemform">Add Lost Item</a></li>
        <li><a href="/listmy">Your Items</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">SignUp</a></li>
        <li><a href="/logout">logout</a></li>
        <th:block sec:authorize="hasAuthority('ADMIN')">
        <li><a href="/postforregistereduser">Post for users</a></li>
        </th:block>
        <!--<li class="searchForm"><form class="searchForm" th:action="@{/searchitem}" th:object="" method="post">-->
            <!--<input  class="search" type="search" name="search" placeholder="search by category..."/>-->
        <!--</form>-->
        <!--</li>-->


    </ul>
</nav>
</div>

<div>


    <div class="container-fluid">
        <h1>Lost Items </h1>

        <div class="row">

            <div class="col-sm-4" ><a href="/petList"><img src="images/pexels-photo-460823.jpeg"
                                                                                               height="400" width="400"/></a></div>
            <div class="col-sm-4" ><a href="/clothList"><img src="images/photo-1457545195570-67f207084966.jpeg" height="400" width="400"/></a></div>
            <div class="col-sm-4" ><a href="/othersList"><img
                    src="images/stock-photo-lost-sign-on-a-lampost-in-a-suburban-street-vertical-wooden-label-on-a-tree-homemade-wooden-flier-673869010.jpg"
                    height="400" width="400"/></a></div>

        </div>
    </div>

</div>


<!--<div class="welcome">-->
   <!---->
<!--</div>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>