<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link rel="stylesheet" href="/../static/css/indexcss.css">
<link rel="stylesheet" href="/../css/indexcss.css">
<meta http-equiv="Content-Type" Content="text/html; charset=UTF-8">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">


<!--  insert COTON stylesheets. replace index2.html and stylesheet2.css  -->
<title>Untitled Document</title>
</head>
<body>
<!--<h1>DailyDigital.com</h1>-->

<!-- NAVIGATION BAR TOP -->
<ul class="navbartop">
    <li><a class="active" href="https://coton.champlain.edu/WEBD12545A/quentin.smith/css/index.html">H O M E</a></li>
    <li><a href="https://coton.champlain.edu/WEBD12545A/quentin.smith/html/categoriespage.html">C A T E G O R I E S</a></li>

    <li style=float:right><a href="https://coton.champlain.edu/WEBD12545A/quentin.smith/html/contactpage.html">C O N T A C T</a></li>
    <li style=float:right><a href="https://coton.champlain.edu/WEBD12545A/quentin.smith/html/aboutpage.html">A B O U T</a></li>
    <li style=float:right><a href="/register">S I G N U P</a></li>
    <li style=float:right><a href="/login">L O G I N</a></li>

</ul>
<!-- NAVIGATION BAR TOP -->
<p></p>

</div>
<!-- Neew Article Content Box --><!-- Neew Article Content Box -->

<div class="articlescolumn">
    <div id="contentarea1">
        <h2>Virtual Reality Marketing</h2>
        <ul>
            <p>This would host the article description</p>
        </ul>
        <a class="share" href="https://www.w3schools.com/html/">SHARE</a>
    </div>

    <!-- Neew Article Content Box --><!-- Neew Article Content Box -->
    <div id="contentarea2">
        <h2>IBP and Social Media Today</h2>
        <p>This would host the article description</p>
        <a class="share" href="https://www.w3schools.com/html/">SHARE</a>
    </div>
    <!-- Neew Article Content Box --><!-- Neew Article Content Box -->
    <div id="contentarea3">
        <h2>The Best Chance You'll Get To Advertise on Television in 2018</h2>
        <p>This would host the article description</p>
        <a class="share" href="https://www.w3schools.com/html/">SHARE</a>
    </div>
    <!-- Neew Article Content Box --><!-- Neew Article Content Box -->
    <div id="contentarea4">
        <h2>TV Is The New Radio</h2>
        <ul>
            <p>This would host the article description</p>
        </ul>
        <a class="share" href="https://www.w3schools.com/html/">SHARE</a>
    </div>
</div>
<!-- Featured Article Content Box --><!-- Featured Article Content Box -->
<div id="featuredhomepagearticle">
    <h1> Welcome to DailyDigital.com!  </h1>
    <p> This would a one sentence blurp of the article opinion </p>
    <p id="featuredtext"> FEATURED Content Area.<br><br> Welcome to dailydigital.com! This your one stop shop for all news and opinions in the realm of digital marketing and advertising. From new strategy, to developing technologies, we here at DD gather a variety of sources and topics that captures the complexity and diversity of todays marketing industry! <br><br>

        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p> <a class="share" href="https://www.w3schools.com/html/">SHARE</a>


    <figure> <img id="homepageimage1" src="https://coton.champlain.edu/WEBD12545A/quentin.smith/images/homepage1.png" alt="How to Blend Digital Marketing">

        <img id="homepageimage2" src="https://coton.champlain.edu/WEBD12545A/quentin.smith/images/homepage2.png" alt="How to Blend Digital Marketing"><br><figure>
</div>
<!-- EMail Contact Form--><!-- EMail Contact Form-->
<div id="emailform">
    <table id="emailtable"> EMAIL CONTACT FORM  <br>
        <th> First Name Entry Field </th> <th> Last Name Entry Field </th> </table> <table> <th>Insert Email Field Here </th></table>

    <a class="submit" href="default.asp" target="_blank">Submit</a>
    <p> Insert Check Box </p>
    <p>"I agree to the terms and Conditions"</p></table></div>


<!-- EMail Contact Form--><!-- EMail Contact Form-->
<!-- NAVIGATION BAR BOTTOM -->

</body>
</html> 