<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-group">
    <label>Category</label>
    <select  th:field="*{category}" name="category">
        <option value=category.values(0)> general</option>
        <option value=category.values(1)> sports</option>
        <option value=category.values(3)> business</option>
        <option value=category.values(4)> entertainment</option>

        <option value=category.values(6)> health</option>
        <option value=category.values(7)> science</option>

    </select>
</div>



</body>
</html>